.responsive-svg-container {
    width: 100%;
}

.bar-label {
    font-size: 10px;
    fill: #1a365d;
    dominant-baseline: middle;

    &.name {
        font-weight: 600;
    }
    &.figure {
        font-weight: 400;
    }
}

.bar-title {
    font-size: 12px;
    font-weight: 600;
    text-anchor: middle;
    fill: #1a365d;
}